<!DOCTYPE html>

<html>
  <body>
    
    <h1>Wow, thats an odd way to make a list</h1>
    
    <ul>
      <% squares = [1, 4, 9, 16, 25, 36] %>
      <% squares.each do |square| %>
      <li> <%= square %> </li>
      <% end %>
    </ul>
    
  </body>
</html>





<!--<html>-->
<!--  <body>-->
    
  <!--<h1> <% if 1 == 2 %> -->
  <!--<%= "well thats wierd" %>-->
  <!--<% else %>-->
  <!--<%= "1 does not equal 2"%>-->
  <!--<% end %>-->
  <!--</h1>-->
  
  <!--<ul>-->
  <!--  <li>sandwich</li>-->
  <!--  <li>water</li>-->
  <!--  <li>salad</li>-->
  <!--</ul>-->
  
<!--  </body>-->
<!--</html>-->